*{
    margin:0;
    padding:0;
    /* font-family: 'Roboto Condensed', sans-serif; */
    /* font-family: 'Dancing Script', cursive; */
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,.07)),url("Images/31549.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}


body::-webkit-scrollbar{
    display: none;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
}
nav img{
    width: 130px;
    height: auto;
    margin-left: 0px;
}
.nav-links{
    flex: 1;
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13; 
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;                    /* setting height and width for the underline when hover */
    background: #f44336;        /* setting red as background colour for hover effect*/
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{          /*giving underline as hover effect*/
    width: 100%;
}

.contact_title{
    color:white;
    font-size: 25px;
    text-align: left;
    margin-top: 25px;
    margin-left:150px;
    font-family: 'Dancing Script', cursive;
}
.contact-text{
    color:white;
    text-align:left;
    margin-top: 35px;
    margin-left: 780px;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

.fixed-side-bar{
    position: fixed;
    margin-right: 0px;
    margin-top: 5px;
    height: 5px;
    width: 5px;
    margin-left: 97%;
    opacity: 75%;
}