*{
    margin:0;
    padding:0;
    font-family: 'Roboto Condensed', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,.07)),url("Images/space.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

body {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        background-color: black;
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

body::-webkit-scrollbar{
    display: none;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}
nav img{
    width: 130px;
    height: auto;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
  
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13; 
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;                    /* setting height and width for the underline when hover */
    background: #f44336;        /* setting red as background colour for hover effect*/
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{          /*giving underline as hover effect*/
    width: 100%;
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.title{
    display: block;
    font-size: 25px;
    color:white;
    text-align: center;
}
.title-para{
    display: block;
    font-size: 15px;
    color:white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -10px;
}

.decor-row{
    margin-top: 20px;
    display: inline-flex;
}

.decorative-element1 {
    background: linear-gradient(to right, #f2f2f2, #ffffff);
    border: 0.1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 0.1px;
    margin-top: -15px;
    margin-left: 667px;
}

.decorative-element1:hover{
    animation: extend 1s forwards;
}

@keyframes extend{
    0%{
        margin-left: 700px;
        width: 200px;
    }
    100%{
        margin-left: 225px;
        width: 1125px;
    }
}


/* Text islands to show the works */
.container-row1 {
    display: flex;
    width: 1400px;
    height: 200px;
    margin-top: 130px;
    margin-left: 70px;
}

.container-row2 {
    display: flex;
    width: 1400px;
    height: 100px;
    margin-top: 100px;
    margin-left: 70px;
}

.text-island1 {
    flex-basis: 50%;
    padding: 10px;
    margin: 5px;
    text-align : center;
}
.text-island2 {
    flex-basis: 50%;
    padding: 10px;
    margin: 5px;
    text-align : center;
}
.title-box{
    margin-top: -85px;
    color:#fceb87;
    font-family: 'Kaushan Script', cursive;
}
