*{
    margin:0;
    padding:0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto Condensed', sans-serif;    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,.07)),url("neon-light-background_53876-67443.avif");
    background-position: center;
    background-size: cover;
    position: relative;
}
a{
    text-decoration: none;
    color:rgb(84, 1, 84);
}

body::-webkit-scrollbar{
    display: none;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 130px;
    height: auto;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13; 
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;                    /* setting height and width for the underline when hover */
    background: #f44336;        /* setting red as background colour for hover effect*/
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{          /*giving underline as hover effect*/
    width: 100%;
}

.row1{
    margin-top:20px;
}

.row2{
    margin-top:5px;
    margin-left: 75px;
}

.title{
    margin-left: 360px;
    margin-right: 150px;
    text-align: left;
    font-style: 'Dancing Script';
    font-size: 20px;
    color:#fff;
}

.circle {
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    font-size: 20px;
    color: #000000;
    margin-left: 70px;
    background: #43b549;
    border:black;
    border-width: 5px;
    display: inline-flex;
    text-align: center;
    margin-block-end: 25px;
    margin-inline-end: 20px;
}
.circle:hover{
    background: #0d8213;
    color:#fff;
}

.row{
    margin-top: 10px;
    display: inline-flex;
}

.Experience-title{
    margin-top: 45px;
    margin-left: 305px;
    margin-right: 150px;
    color: #fff;
    text-align: left;
    
}

.Volunteer-title{
    margin-top: 45px;
    color: #fff;
    text-align: center;
}

.Experience{
    color:#93dfee;
    margin-left: 190px;
    margin-right: 275px; 
    text-align: center;
}

.Volunteer{
    color: #93dfee;
    text-align: center;
}

.decor-row{
    display: inline-flex;
}

.decorative-element1 {
    background: linear-gradient(to right, #f2f2f2, #ffffff);
    border: 0.1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 0.1px;
    margin-top: 15px;
    margin-left: 700px;
}

.decorative-element1:hover{
    animation: extend 1s forwards;
}

@keyframes extend{
    0%{
        margin-left: 700px;
        width: 200px;
    }
    100%{
        margin-left: 225px;
        width: 1125px;
    }
}