*{
    margin:0;
    padding:0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto Condensed', sans-serif;    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,.07)),url("Images/neon-light-background_53876-67443.avif");
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: repeat;
}
a{
    text-decoration: none;
    color:rgb(84, 1, 84);
}

body::-webkit-scrollbar{
    display: none;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 130px;
    height: auto;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13; 
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;                    /* setting height and width for the underline when hover */
    background: #f44336;        /* setting red as background colour for hover effect*/
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{          /*giving underline as hover effect*/
    width: 100%;
}

.row1{
    margin-top:20px;
    display: flex;
}

.about-text{
    margin-left: 100px;
    color: white;
}

.info{
    color:rgb(254, 152, 169);
}

.special-text{
    color:rgb(255, 255, 108);
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 100px;
  }
  
img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}


/* .circle {
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    font-size: 20px;
    color: #000000;
    margin-left: 70px;
    background: #43b549;
    border:black;
    border-width: 5px;
    display: inline-flex;
    text-align: center;
    margin-block-end: 25px;
    margin-inline-end: 20px;
}
.circle:hover{
    background: #0d8213;
    color:#fff;
} */

.skill-section{
    display: flex;
    margin-inline: 0px;
}


*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }

.skill-section{
    margin-left: 80px;
}

.skills{
    margin-top: 50px;
    margin-left: 500px;
    width: 400px;
    margin: 20px;
    background: #fff;
    padding: 20px;
    font-size: small;
    overflow: hidden;
    float: left;
  }

.horizontal .progress-bar {
    float: left;
    height: 45px;
    width: 100%;
    padding: 12px 0;
  }
  
  .horizontal .progress-track {
    position: relative;
    width: 100%;
    height: 20px;
    background: #ebebeb;
  }
  
  .horizontal .progress-fill {
    position: relative;
    background: #666;
    height: 20px;
    width: 50%;
    color: #fff;
    text-align: center;
    font-family: "Lato","Verdana",sans-serif;
    font-size: 12px;
    line-height: 20px;
  }
  
  .rounded .progress-track,
  .rounded .progress-fill {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  }


/* .Experience-title{ 
    margin-top: 45px;
    margin-left: 305px;
    margin-right: 150px;
    color: #fff;
    text-align: left;
    
}

.Volunteer-title{
    margin-top: 45px;
    color: #fff;
    text-align: center;
} 

.Experience{
    color:#93dfee;
    margin-left: 190px;
    margin-right: 275px; 
    text-align: center;
}

.Volunteer{
    color: #93dfee;
    text-align: center;
}
*/

.decor-row{
    margin-top: 20px;
    display: inline-flex;
}

.decorative-element1 {
    background: linear-gradient(to right, #f2f2f2, #ffffff);
    border: 0.1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 0.1px;
    margin-top: 15px;
    margin-left: 700px;
}

.decorative-element1:hover{
    animation: extend 1s forwards;
}

@keyframes extend{
    0%{
        margin-left: 700px;
        width: 200px;
    }
    100%{
        margin-left: 225px;
        width: 1125px;
    }
}