*{
    margin:0;    padding:0;
    font-family: 'Roboto Condensed', sans-serif;  
}

body {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-x: hidden;
    padding-bottom: 50px;
}
 
@keyframes fadeInAnimation {
    0% {
        background-color: black;
        opacity: 0.2;
    }
    100% {
        opacity: 1;
     }
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,.07)),url("Images/space.jpg");
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: repeat;
}
a{
    text-decoration: none;
    color:rgb(84, 1, 84);
}

body::-webkit-scrollbar{
    display: none;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 130px;
    height: auto;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13; 
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;                    /* setting height and width for the underline when hover */
    background: #f44336;        /* setting red as background colour for hover effect*/
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{          /*giving underline as hover effect*/
    width: 100%;
}

.row1{
    margin-top:-5px;
}

.quote{
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    font-style: italic;
    font-family: 'Kaushan Script', cursive;
}

.decor-row{
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.decorative-element1 {
    background: linear-gradient(to right, #f2f2f2, #ffffff);
    border: 0.1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 0.1px;
    margin-top: 0px;
    margin-left: 0px;
}

.info{
    color:rgb(254, 152, 169);
    font-family:'Times New Roman', serif;
}

.special-text{
    color:rgb(255, 255, 108);
    font-family:'Times New Roman', serif;
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 60px;
}
  
img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}


*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }

.Skill-badges{
    text-align: center;
    margin-top: 50px;
}

.resume-btn{
    font-size: small;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button {
    background-color: #1567b4; /* Green */
    border: none;
    color: white;
    text-decoration-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 450px;
    margin-bottom: 20px;
}

.button {
    transition-duration: 0.4s;
    color:#f2f2f2;
    font-size: medium;
}

.button:hover {
    background-color: #1c1565; /* Green */
    color: white;
}


.decor-row{
    margin-top: 20px;
    display: inline-flex;
}

.decorative-element1 {
    background: linear-gradient(to right, #f2f2f2, #ffffff);
    border: 0.1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 0.1px;
    margin-top: -15px;
    margin-left: 667px;
}

.decorative-element1:hover{
    animation: extend 1s forwards;
}

@keyframes extend{
    0%{
        margin-left: 700px;
        width: 200px;
    }
    100%{
        margin-left: 225px;
        width: 1125px;
    }
}


